*{
	margin: 0;
	padding: 0;
}

/*COISAS NOVAS QUE PODEM GERAR DÚVIDAS:
1. a > nos códigos nada mais que é mostrando o
caminho especifico que vamos determinar os valores 
seguintes, garantindo que apenas o elemento "setado"
receba tal valor.

2. Podemos determinar valores com px(pixel), 
%(porcentagem) e também vh(ViewPort height) ou 
vw(ViewPort width) elas simplesmente captam o tamanho
da tela através da tag meta viweport que esta inserida
no nosso html (<meta name="viewport" content="width=device-width, initial-scale=1">)
e deixam o elemento com a altura ou largura total da 
janela em que foi aberta. Dessas duas ultimas citadas apenas
a vh foi utilizada. (existem várias outras formas de 
determinar valores, mas essas são as principais e também
utilizadas aqui, exceto a vw).

3. A class container é utilizada para organizar
e manter todo o código centralizado na página!

4. Quando há um elemento dentro de uma classe container
e é determinado um width 100% para esse elemento ele irá 
ser 100% do tamanho do .container e não da tela inteira
pois o .container é o elemento pai referente ao elemento 
modificado. Isso não funciona apenas para a classe .container
mas também para QUALQUER ELEMENTO que estiver dentro 
de outro elemento.

5.
*/

body{
	background-color: #fff;
	width: 100%;
	font-family: 'Roboto', sans-serif;
}

section.content{
	height: 100vh;
}

.container{
	width: 80%;
	margin-left: 10%;
}

a{
	text-decoration: none;
}

li{
	list-style:none;
}

/*********** CSS DO SITE *************/

			/*   MENU   */
section.fixed{
	width: 100%;
	height: 125px;
	background-color: #fff; 
	top: 0;
/* 	position: fixed; */
	position: inherit;
	z-index: 999;
}

nav.menu{
	text-decoration: none;
	overflow: hidden;
	margin-top:15px;

}

nav.menu > picture > a > img{
	width: 200px;
	height:90px;
	margin-right: 15%;
} 

nav.menu > .navegacao{
	float: right;
	width: 65%;
	margin-top: 50px;
}

nav.menu > .navegacao > ul > li > a{
 	width: 14%;
	padding: 7px 1%;
	border: solid 2px transparent;
	border-radius: 5px;
	float: left;
	text-align: center;
	margin-right: 7px;
}

nav.menu > .navegacao > ul > li > a:hover{
	border: solid 2px green;
}

li ul li.ipi{
	border-bottom:2px solid green;
}

li ul{
	display:none;
	text-decoration: none;
	border: 2px solid green;
	border-radius: 3px;
	text-align: center;
	top: 105px;
	position: absolute;
	margin-left: 87px;
	line-height: 35px;
	padding: 5px;
	background-color: #fff;
}

li:hover ul, li.over ul{
	display: block;
	padding: 5px;
}

nav.menu > .navegacao > .busca > input{
	float: right;
	width: 25%;
	height: 34px;
	border: solid 2px green;
	border-radius: 5px;
	background-color: #eeefff;
}

nav.menu > .navegacao > .busca > input:active,
nav.menu > .navegacao > .busca > input:hover,
nav.menu > .navegacao > .busca > input:focus{
	background-color: #fff;
	border: solid 2px green;
}

			/*   BANNER   */
.banner {
	width: 100%;
	height: 100vh;
	position: relative;
}

.slider {
	width: 100%;
	height: 100vh;
	margin: auto;
}

.slider-item {
	width: 100% !important;
	position: relative;
}

.slider-item img {
	width: 100%;
	height: 100vh;
	position: relative;
}

.pagina {
	position: absolute;
	z-index: 999;
	bottom: 20px;
	width: 50%;
	left: 25%;
	text-align: center;
}

.pagina a {
	display: inline-block;
	width: 15px;
	height: 15px;
	border-radius: 100%;
	background: #fff;
	margin: 0 5px;
	cursor: pointer;
}

.pagina a.slideativo {
	background: green;
}

.pagina a:hover {
	background: #32CD32;
}

			/*  NOTICIAS  */
section.noticias{
	width: 100%;
	height: 100vh;
	background-color: #F0F8FF;
}

section.noticias > .container > h1{
	padding-top: 160px;
	font-size: 25px;
	font-family: roboto;
	color: #006400;
}

section.noticias > .container > .publicacao{
	width: 49%;
	float: left;
	margin-top: 50px;
	text-align: center;
	height: 400px;

}

section.noticias > .container > .right{
	border-right: solid 2px #8FBC8F;
}

section.noticias > .container > .publicacao h1{
	font-size: 22px;
	color: green;
	margin-bottom: 20px;
	text-transform: light;
	font-weight: 400;
}

section.noticias > .container > .publicacao p{
	margin: 0 5%;
	text-align: left;
}

			/* OPORTUNIDADES */
section.oportunidades{
	width: 100%;
	height: 100vh;
	background-color: #F0FFF0;
}

section.oportunidades > .container > h1{
	padding-top: 140px;
	font-size: 25px;
	font-family: roboto;
	color: #006400;
}

section.oportunidades > .container > .vaga{
	width: 45%;
	float: left;
	text-align: center;
	height: 400px;
	background-color: #3CB371;
	margin: 30px 2.5%;
	border-radius: 10px;
}

section.oportunidades > .container > .vaga h1{
	font-size: 22px;
	color: #fff;
	margin: 20px 0;
	font-weight: 900;
}

section.oportunidades hr{
	border: solid 0.5px #2E8B57;
	height: 2px;
}

section.oportunidades > .container > .vaga p{
	margin: 20px 5%;
	text-align: left;
	color: #fff;
}

			/*    FOOTER    */
section.footer{
	background-color: #98FB98;
	height: 130px;
}

section.footer > .container > .contato{
	float: right;
	margin-top: 50px;
	width: 250px;
}

section.footer > .container > .contato p{
	color: #2E8B57;
}

section.footer > .container hr{
	width: 90%;
	margin: 20px 5%;
	float: right;
	border: solid 1px #2E8B57;
}

/****** CSS DA PÁGINA QUEM SOMOS E CURSOS *******/
/* uni essas duas seções porque elas usariam códigos parecidos,
então para evitar repetição de código resolvi unir as duas e
percebam que são usadas as mesmas classes tanto pra ipi quanto 
pra qualidade também pra facilitar e diminuir a quantidade de 
código */
section.quemSomos, 
section.curso{
	background-color: #F0F8FF;
	padding-top: 170px;
	padding-bottom: 70px;
}

section.quemSomos > .container > h1{
	font-weight: 900;
	margin-bottom: 20px;
	font-size: 30px;
}

section.quemSomos > .container > p,
section.curso > .container > p{
	text-align: left;
	font-weight: 400;
}

section.curso > .container > h1{
	font-weight: 900;
	margin-bottom: 20px;
	font-size: 30px;
}

section.curso > .container > h2{
	font-weight: 400;
	margin-bottom: 20px;
}





/********** CSS DO SISTEMA **********/
/* aqui se inicia o css APENAS do Sistema,
nada que tiver a partir daqui influenciará no css
do site e nem nada que for do css do site influenciará
aqui. Ok? ok. */

/* CSS DO TOPO DAS PÁGINAS DO SISTEMA */

section.sistem-content{
	height: 100vh;
	background-color: #FCFEF5;
}

section.topofix{
	width: 100%;
	height: 150px;
	background-image: url(../img/bg-sistema.png);
}

section.topofix > .container > img{
	width: 250px;
	height: 120px;
	margin: 15px 0;
}

section.topofix > .container > a.btn{
	float: right;
	margin: 53px 0;
	padding: 10px;
	border: solid 2px #3CB371;
	border-radius: 5px;
	text-align: center;
	background-color: #fff;
	color: #006400;
}

section.topofix > .container > a.sair{
	width: 10%;
}

section.topofix > .container > a.btn:hover{
	background-color: #F0FFF0;
}

/*********** CSS PÁGINA INICIAL DO SISTEMA **********/

section.users{
	height: 100vh;
	background-color: #eee;
}

section.users > .container > ul{
	width: 100%;
	padding-top: 20%;
}

section.users > .container > ul > li > a.opcao-user{
	display: inline-table;
	float: left;
	width: 200px;
	height: 200px;
	margin: 0 3%;
	border-radius: 100px;
	opacity: 0.7;
}

section.users > .container > ul > li > a.opcao-user:hover{
	opacity: 1;
}

section.users > .container > ul > li > a.opcao-user img{
	width: 110px;
	height: 120px;
	margin: 30px 0 0 43px;
}

section.users > .container > ul > li > a.opcao-user p{
	text-align: center;
	font-weight: 900;
	color: #fff;
	font-size: 20px;

}

section.users > .container > ul > li > a.aluno{
	background-color: #713D74;
}

section.users > .container > ul > li > a.prof{
	background-color: #44ADDD;
}

section.users > .container > ul > li > a.secretaria{
	background-color: #88C425;
}

section.users > .container > ul > li > a.help{
	background-color: #F92961;
}

/************ CSS PÁGINA DE AJUDA ************/
.container > section.ajuda{
	margin:50px 0 0 10%;
	width: 80%;
	background-color: #eee;
}

.container > section.ajuda > .perfil{
	height: 50px;
	width: 100%;
	padding-top: 20px;
	margin-bottom: 30px;
}

.container > section.ajuda > .perfil > h1{
	font-weight: 900;
	font-size: 20px;
	text-align: center;
	color: #fff;
}

.container > section.ajuda > .help{
	background-color: #F92961;
}			

.container > section.ajuda > ul > li > p{
	font-weight: 900;
	font-size: 18px;
	text-align: center;
}

.container > section.ajuda > ul > li{
	border-bottom: solid 2px #bbb;
}

.container > section.ajuda > ul > li > ul{
	display: block;
	text-decoration: block;
	border: 0 solid transparent;
	border-radius: 0;
	text-align: center;
	top: 105px;
	position: inherit;
	margin-left: 0;
	line-height: 35px;
	padding: 0;
	background-color: transparent;
	margin-bottom: 20px;
}

.container > section.ajuda > ul > li > ul > li{
	text-align: center;
}

/*********** CSS PÁGINA LOGIN *************/

section.login{
	width: 80%;
	margin-left: 10%;
	height: 400px;
	background-color: #eee;
	border-radius: 8px;
	margin-top: 10%;
	border: solid 2px transparent;

}

section.login > .perfil{
	width: 100%;
	height: 50px;
}

section.login > .aluno{
	background-color: #713D74;
}

section.login > .professor{
	background-color: #44ADDD;
} 

section.login > .secret{
	background-color: #88C425;
}

section.login > .perfil > h1{
	font-size: 25px;
	font-weight: 900;
	text-align: center;
	padding-top: 10px;
	color: #fff;
}

section.login > form.login-aluno{
	width: 50%;
	height: 80%;
	margin-top: 10%;
	margin-left: 25%;
	font-size: 18px;
}

section.login > form.login-aluno > label{
	margin: 0 10px 50px 10px;
}

section.login > form.login-aluno > input{
	width: 300px;
	height: 35px;
	margin-bottom: 30px;
	border: solid 2px #ccc;
	border-radius: 5px;
}

section.login > form.login-aluno > a{
	width: 150px;
	height: 0px;
	margin: 50px 40%;
	padding: 6px 20px;
	border: solid 2px transparent;
	border-radius: 5px;
	background-color: #AEA9D1;
	color: #000;
}

section.login > form.login-aluno > a:hover{
	background-color: #D2BFE3;
}

/********** CSS DO MENU *************/

section.conteudo{
	width: 80%;
	margin-left: 10%;
	margin-top: 15%;
}

section.conteudo li{
	display: inline-table;
}

section.conteudo a{
	width: 215px;
	height: 50px;
	text-align: center;
	display: inline-table;
	border: solid 2px transparent;
	padding: 30px 20px 10px 20px;
	margin: 10% 30px;
	color: #fff;
	border-radius: 10px;
	font-size: 18px;
	font-weight: 900;
}

section.conteudo a.aluno{
	background-color: #713D74;
}

section.conteudo a.aluno:hover{
	background-color: #4F364C;
}

section.conteudo a.secret{
	background-color: #88C425;
}

section.conteudo a.secret:hover{
	background-color: #7ADE4D;
}

section.conteudo a.professor{
	background-color: #44ADDD;
}

section.conteudo a.professor:hover{
	background-color: #3FB8AF;
}

/* CSS DOS FORMULÁRIOS, VULGO, OUTRAS PÁGINAS ALÉM DO MENU */

section.login > form.formzinho{
	width: 80%;
	margin-left: 10%;
	text-align: center;
	margin-top: 20px;
}

section.login > form.formzinho > label{
	margin: 0 10px 50px 10px;
}

section.login > form.formzinho > input{
	width: 300px;
	height: 35px;
	margin-bottom: 30px;
	border: solid 2px #ccc;
	border-radius: 5px;
}

section.login > form.formzinho > a{
	width: 150px;
	height: 0px;
	margin: 50px 40%;
	padding: 6px 20px;
	border: solid 2px transparent;
	border-radius: 5px;
	background-color: #AEA9D1;
	color: #000;
}

section.login > form.formzinho > a:hover{
	background-color: #D2BFE3;
}

section.login > form.formzinho > label.strong{
	font-weight: 900;
}

section.login > form.formzinho > select{
	width: 150px;
	height: 30px;
	margin-bottom: 20px;
}

section.login > form.formzinho > input[type=checkbox]{
	width: 18px;
    height: 15px;
}

section.login > form.formzinho > input[type=radio]{
	width: 18px;
    height: 15px;
}
